<c-page title="Accordion">
  <c-page.section title="Basic Usage">
    <c-slot name="description">
      Accordions collapse content into panels. Use <code>c-accordion.item</code> sub-components
      with the <code>text</code> attribute for the header. Add the <code>show</code> boolean attribute
      to expand an item by default. Each accordion must have a unique <code>id</code> attribute.
    </c-slot>
    {% cotton:verbatim %}
      <c-accordion id="accordionExample">
        <c-accordion.item text="Accordion Item #1" show>
          This is the first item's accordion body. It is shown by default.
        </c-accordion.item>
        <c-accordion.item text="Accordion Item #2">
          <strong>This is the second item's accordion body.</strong>
          It is hidden by default.
        </c-accordion.item>
        <c-accordion.item text="Accordion Item #3">
          <strong>This is the third item's accordion body.</strong>
          It is also hidden by default.
        </c-accordion.item>
      </c-accordion>
    {% endcotton:verbatim %}
  </c-page.section>
</c-page>
