<c-page title="Badges">
  <c-page.section title="Badges">
    {% cotton:verbatim %}
      <c-vstack gap=4>
        <c-hstack>
          <c-badge variant="primary" text="Primary" />
          <c-badge variant="secondary" text="Secondary" />
          <c-badge variant="success" text="Success" />
          <c-badge variant="danger" text="Danger" />
          <c-badge variant="warning" text="Warning" />
          <c-badge variant="info" text="Info" />
          <c-badge variant="light" text="Light" />
          <c-badge variant="dark" text="Dark" />
        </c-hstack>
        <c-hstack>
          <c-badge variant="primary" pill text="Pill Primary" />
          <c-badge variant="success" pill text="Pill Success" />
          <c-badge variant="danger" pill text="Pill Danger" />
        </c-hstack>
      </c-vstack>
    {% endcotton:verbatim %}
  </c-page.section>
</c-page>
