<c-page title="Button Groups">
  <c-page.section title="Button Groups">
    {% cotton:verbatim %}
      <c-button-group>
        <c-button variant="primary" text="Left" />
        <c-button variant="secondary" text="Middle" />
        <c-button variant="info" text="Right" />
      </c-button-group>
      <c-button-group vertical>
        <c-button variant="primary" text="Top" />
        <c-button variant="primary" text="Middle" />
        <c-button variant="primary" text="Bottom" />
      </c-button-group>
    {% endcotton:verbatim %}
  </c-page.section>
</c-page>
