<c-page title="Grid System">
  <c-page.section title="Basic Example">
    <c-slot name="description">
    </c-slot>
    {% cotton:verbatim %}
      <c-grid cols=3>
        <c-grid.col>
          <div class="text-bg-primary p-3 text-center">Col 1</div>
        </c-grid.col>
        <c-grid.col>
          <div class="text-bg-secondary p-3 text-center">Col 2</div>
        </c-grid.col>
        <c-grid.col>
          <div class="text-bg-success p-3 text-center">Col 3</div>
        </c-grid.col>
      </c-grid>
    {% endcotton:verbatim %}
  </c-page.section>
  <c-page.section title="Grid System">
    {% cotton:verbatim %}
      <c-grid>
        <c-grid.col cols="12" md="6" lg="4">
          <div class="bg-primary text-white p-3 text-center">Col 1</div>
        </c-grid.col>
        <c-grid.col cols="12" md="6" lg="4">
          <div class="bg-secondary text-white p-3 text-center">Col 2</div>
        </c-grid.col>
        <c-grid.col cols="12" md="12" lg="4">
          <div class="bg-success text-white p-3 text-center">Col 3</div>
        </c-grid.col>
      </c-grid>
    {% endcotton:verbatim %}
  </c-page.section>
</c-page>
