<c-page title="Navigation">
  <c-page.section title="Basic Usage">
    <c-slot name="description">
      Nav components display navigation links. Use <code>c-nav.link</code> sub-components
      with <code>href</code> and <code>text</code> attributes. Use <code>active</code> for the current
      link and <code>disabled</code> for unavailable links.
    </c-slot>
    {% cotton:verbatim %}
      <c-nav>
        <c-nav.link href="#" active text="Active" />
        <c-nav.link href="#" text="Link" />
        <c-nav.link href="#" text="Another Link" />
        <c-nav.link href="#" disabled text="Disabled" />
      </c-nav>
    {% endcotton:verbatim %}
  </c-page.section>
  <c-page.section title="Vertical Navigation">
    <c-slot name="description">
      Add the <code>vertical</code> boolean attribute to stack navigation links vertically.
    </c-slot>
    {% cotton:verbatim %}
      <c-nav vertical>
        <c-nav.link href="#" active text="Active" />
        <c-nav.link href="#" text="Link" />
        <c-nav.link href="#" text="Another Link" />
        <c-nav.link href="#" disabled text="Disabled" />
      </c-nav>
    {% endcotton:verbatim %}
  </c-page.section>
</c-page>
