<c-page title="Navigation">
  <c-page.section title="Navigation">
    {% cotton:verbatim %}
      <strong>Horizontal</strong>
      <c-nav>
        <c-nav.link href="#" active text="Active" />
        <c-nav.link href="#" text="Link" />
        <c-nav.link href="#" text="Another Link" />
        <c-nav.link href="#" disabled text="Disabled" />
      </c-nav>
      <strong>Vertical</strong>
      <c-nav vertical>
        <c-nav.link href="#" active text="Active" />
        <c-nav.link href="#" text="Link" />
        <c-nav.link href="#" text="Another Link" />
        <c-nav.link href="#" disabled text="Disabled" />
      </c-nav>
    {% endcotton:verbatim %}
  </c-page.section>
</c-page>
