{% load cotton_bs5 %}
<c-page title="Containers">
  <c-page.section title="Basic Container">
    <c-slot name="description">
      Containers center and pad content horizontally. The default container has responsive
      max-widths at each breakpoint.
    </c-slot>
    {% cotton:verbatim %}
      <c-container class="p-3">
        Container content
      </c-container>
    {% endcotton:verbatim %}
  </c-page.section>
  <c-page.section title="Fluid Container">
    <c-slot name="description">
      Add the <code>fluid</code> boolean attribute to create a full-width container
      that spans the entire viewport width.
    </c-slot>
    {% cotton:verbatim %}
      <c-container fluid class="p-3">
        Full width container
      </c-container>
    {% endcotton:verbatim %}
  </c-page.section>
  <c-page.section title="Responsive Containers">
    <c-slot name="description">
      Assign a breakpoint value to the <code>fluid</code> attribute (sm, md, lg, xl, xxl)
      to create a container that is fluid up to that breakpoint.
    </c-slot>
    {# djlint:off #}
    {% for bp in breakpoints %}{% cotton:verbatim %}
        <c-container fluid="{{ bp }}"
                     class="bg-secondary-subtle p-3 mb-3">
          Fluid below "{{ bp }}" breakpoint
        </c-container>{% endcotton:verbatim %}{% endfor %}
    {# djlint:on #}
  </c-page.section>
</c-page>
