<c-vars direction="down"
        :ul="True"
        :caret="True"
        min-width="10rem"
        class
        dropdown_class />
{% spaceless %}
  <div class="{{ "drop"|add:direction }} {{ dropdown_class }}">
    {% if button %}
      {{ button }}
    {% else %}
      <c-button class="{% if caret %}dropdown-toggle{% endif %} {{ class }}"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                :attrs="attrs" />
    {% endif %}
    {% with ul|yesno:"ul,div" as element %}
      <{{ element }} class="dropdown-menu" style="--bs-dropdown-min-width: {{ min_width }}">
      {{ slot }}
      </{{ element }}>
    {% endwith %}
  </div>
{% endspaceless %}
