<c-vars text
        icon
        active
        disabled
        class
        gap="2"
        align="start" />
{% spaceless %}
  <li>
    {% with element=href|yesno:"a,button" %}
      {# djlint:off #}
    <{{ element }} class="dropdown-item d-inline-flex align-items-center
                          justify-content-{{ align }}
                          gap-{{ gap }} {% if active %}
                          active{% endif %}{% if disabled %}
                          disabled{% endif %} {{ class }}"
                          {% if element == "button" and not type %} type="button"{% endif %}
                          {% if disabled %}{% if element == "a" %} tabindex="-1" aria-disabled="true"{% else %} disabled{% endif %}{% endif %}
                          {{ attrs }}>
      {# djlint:on #}
      {% if icon %}<c-icon name="{{ icon }}" />{% endif %}
      {{ text }}{{ slot }}</{{ element }}>
    {% endwith %}
  </li>
{% endspaceless %}
