<c-vars small
        large
        size
        text
        variant="default"
        outline
        align="center"
        icon
        class
        gap="2"
        :condition="True"
        reverse />
{% if condition %}
  {% spaceless %}
    {% with element=href|yesno:"a,button" %}
      {# djlint:off #}
      <{{ element }} class="btn btn-{% if outline %}outline-{% endif %}{{ variant }} d-inline-flex justify-content-{{ align }} align-items-center{% if reverse %} flex-row-reverse{% endif %} gap-{{ gap }}{% if small or size == 'sm' %} btn-sm{% elif large or size == 'lg' %} btn-lg{% endif %} {{ class }}" title="{{ text }}" {{ attrs }}>
      {% if icon %}<c-icon name="{{ icon }}" />{% endif %}
      {% if text %}
        <span class="btn-text">{{ text }}</span>
      {% endif %}
      {{ slot }}
      </{{ element }}>
      {# djlint:on #}
    {% endwith %}
  {% endspaceless %}
{% endif %}
